.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-image-container {
    position: relative; /* เพื่อจัดตำแหน่งของไอคอน */
    margin-bottom: 20px;
    cursor: pointer; /* แสดง cursor แบบ pointer */
  }
  
  .profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
  }
  
  .profile-placeholder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 14px;
    border: 2px solid #ccc;
    cursor: pointer;
  }
  
  /* ไอคอนปากกาสำหรับแก้ไข */
  .edit-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #000; /* สีพื้นหลังของไอคอน */
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* ซ่อนไว้เมื่อยังไม่ได้ชี้ */
    transition: opacity 0.3s ease;
  }
  
  .profile-image-container:hover .edit-icon {
    opacity: 1; /* แสดงไอคอนเมื่อชี้เมาส์ */
  }
  
  .file-input {
    display: none;
  }
  
  .profile-form {
    margin-top: 20px;
  }
  
  .profile-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .profile-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .save-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #068301;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: #068301 2px solid;
  }
  
  .save-button:hover {
    background-color: #068301;
    color: #fff;
  }
  
  .cancell-button {
    background-color: #ffffff;
    color: #e63946;
    border-radius: 5px;
    cursor: pointer;
    border: #e63946 2px solid;
    margin-right: 10px;
    padding: 10px 20px;
  }
  
  .cancell-button:hover {
    background-color: #e63946;
    color: #fff;
  }

  .profile-buttons {
    font-size: 16px;
  }
